

.menulinje{
	color: #9E9E9E;
	opacity: 6.0;
	text-align: center;
	position: fixed;
	font-family: Raleway, helvetica, sans-serif;
	font-weight:lighter;
	padding: 20px 0 20px 0;
	background-color: #EBE4DE;
	width: 100%;
	letter-spacing: 1.5px;	
}

.menulinje li{
    list-style: none;
    display: inline;
    font-family: Raleway, helvetica, sans-serif;
    font-weight: 300;

}

nav{ 
    margin-top: 4%;
    width: 100%;
    text-align: center;
	}

a {
	color: #A28686;
}

a:hover{
	color:#000000;
}
	
.active { /* Den aktive side */
	color: white;
	
}

#formular{
	height: 300px;
	width:300px; 
	text-align: center;
	padding: 15px 30px;
	border-radius: 20px;
	opacity: 3.0;
	font-family: Raleway, helvetica, sans-serif;
	background-color: #B1C2C0;
	font-weight:lighter;
	letter-spacing: 2px;	

	}
p {
	text-align:center;
	font-size:30px;
	font-family: Raleway, helvetica, sans-serif;
	}
	
h1{
	text-align:center;
	margin-top:6%;
	font-family: Raleway, helvetica, sans-serif;
	}
